# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
Flask==0.10
Requests==2.12.1
requests-toolbelt==0.7.0
google-cloud-datastore==0.21.0
beautifulsoup4==4.4.0